<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>alex.kalderimis.dev - $title$</title>
        <link rel="stylesheet" href="/css/site.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link href="//cdnjs.cloudflare.com/ajax/libs/cc-icons/1.2.1/css/cc-icons.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cutive+Mono|Montserrat|Raleway|Source+Sans+Pro" rel="stylesheet">
    </head>
    <body>
        <section class="page">
          <header>
              <h1 class="name">
                  <img class="gravatar" src="https://www.gravatar.com/avatar/$gravatarHash$" />
                  <div>
                    <a class="stamp" href="/">alex.kalderimis.dev</a>
                  </div>
                  
              </h1>
              <nav>
                  <a href="/about.html">About</a>
                  <a href="/contact.html">Contact</a>
                  <a href="/archive.html">Archive</a>
              </nav>
          </header>

          <main class="panel-content" role="main">
              $if(title)$
                <h1>$title$</h1>
              $endif$
              $body$
          </main>

          <footer class="social-navigation">
            <ul>
              <li>
                <a title="LinkedIn" href="https://www.linkedin.com/in/alex-kalderimis-00676630"><i class="fab fa-linkedin"></i></a>
              </li>
              <li>
                <a title="GitLab" href="https://gitlab.com/alexkalderimis"><i class="fab fa-gitlab"></i></a>
              </li>
              <li>
                <a title="GitHub" href="https://github.com/alexkalderimis"><i class="fab fa-github"></i></a>
              </li>
              <li>
                <a title="Twitter" href="https://twitter.com/involans"><i class="fab fa-twitter"></i></a>
              </li>
              <li>
                <a title="RSS" href="/atom.xml"><i class="fas fa-rss"></i></a>
              </li>
              <li>
                <a title="License: CC-BY" href="https://creativecommons.org/licenses/by/4.0/"><i class="cc cc-by"></i></a>
              </li>
            </ul>
          </footer>
        </section>
    </body>
</html>
