<time class="entry-date published updated" datetime="2008-06-20T20:06:53+00:00">$date$</time>

$if(toc)$
  <section class="toc">$toc$</section>
$endif$

<article class="post type-post status-publish format-standard hentry">

    <header class="entry-header">
        $if(author)$
            by $author$
        $endif$
    </header>

    <section class="entry-content">
        $body$
    </section>

    <section class="entry-footer">
       <a href="#" rel="bookmark">
            <time class="entry-date published updated" datetime="2008-06-20T20:06:53+00:00">$date$</time>
       </a>
    </section>

</article>

<link rel="stylesheet" href="/css/syntax.css" />
<script type="text/javascript" src="/scripts/toc.js" />
