<section class="posts">
    $for(posts)$
        <article>
          <!-- meta: $tags$ -->
          <header class="entry-header">
              <h3 class="entry-title">
                  <a href="$url$">$title$</a>
              </h3>
          </header>
          <section class="entry-meta">
            $if(description)$
              $description$
            $endif$
            <time class="date">$date$</time>
          </section>
          <ul class="entry-tags">
            $for(postTags)$
              <li><a href="$href$">$tag$</a></li>
            $endfor$
          </ul>
        </article>
    $endfor$
</section>
